<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
	<f:if condition="{files}">
		<f:if condition="{data.uploads_type} == 100">
			<f:then>
				<div class="hive_imagelist d-flex flex-wrap justify-content-around align-self-center">
					<f:for each="{files}" as="file" iteration="fileIterator">
						<div class="d-flex p-3">
							<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								 data-echo="/fileadmin{file.originalFile.identifier}" class="b-lazy opacity_0"
								 alt="{file.properties.title}"
								 title="{file.properties.title}"
								 style="object-fit: contain;object-position: 50% 50%;"/>
						</div>
					</f:for>
				</div>
			</f:then>
			<f:else>
				<f:if condition="{data.uploads_type} == 200">
					<f:then>
						<div class="hive_imagelist d-flex flex-wrap justify-content-around align-self-center">
							<f:for each="{files}" as="file" iteration="fileIterator">
								<div class="col">
									<div class="imageCustomerBorder">
										<div class="imageCustomer">
											<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												 data-echo="/fileadmin{file.identifier}"
												 class="b-lazy opacity_0"
												 alt="{file.name}"
												 title="{file.name}">
										</div>
									</div>
								</div>

							</f:for>
						</div>
					</f:then>
					<f:else>
						<ul class="ce-uploads">
							<f:for each="{files}" as="file" iteration="fileIterator">
								<li>
									<f:if condition="{data.uploads_type} == 1">
										<img src="{f:uri.resource(path: 'Icons/FileIcons/{file.extension}.gif', extensionName: 'frontend')}" alt="">
									</f:if>
									<f:if condition="{data.uploads_type} == 2">
										<f:if condition="{f:uri.image(src: 'file:{f:if(condition: file.originalFile, then: \'file:{file.originalFile.uid}\', else: \'file:{file.uid}\')}')} != '/'">
											<f:then>
												<a href="{file.publicUrl}" {f:if(condition:data.target,then: ' target="{data.target}"')}>
												<f:media file="{file}" width="150" alt="{file.properties.alternative}" />
												</a>
											</f:then>
											<f:else>
												<img src="{f:uri.resource(path: 'Icons/FileIcons/{file.extension}.gif', extensionName: 'frontend')}" alt="">
											</f:else>
										</f:if>
									</f:if>
									<div>
										<a href="{file.publicUrl}" {f:if(condition:data.target,then: ' target="{data.target}"')}>
										<span class="ce-uploads-fileName">{f:if(condition: file.properties.title, then: file.properties.title, else: file.name) -> f:format.htmlspecialchars()}</span>
										</a>
										<f:if condition="{file.properties.description}">
											<f:if condition="{data.uploads_description}">
												<span class="ce-uploads-description">{file.properties.description}</span>
											</f:if>
										</f:if>
										<f:if condition="{data.filelink_size}">
											<span class="ce-uploads-filesize"><f:format.bytes value="{file.properties.size}" /></span>
										</f:if>
									</div>
								</li>
							</f:for>
						</ul>
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</f:if>

</f:section>
</html>
